* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 375px;
  height: 842px;
  background: rgba(253,253,253,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 375px;
  height: 99px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 131px;
  height: 36px;
  background: url("../images/v1_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 37px;
  overflow: hidden;
}
.v1_5 {
  width: 36px;
  height: 36px;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_6 {
  width: 79px;
  height: 30px;
  background: url("../images/v1_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 52px;
  overflow: hidden;
}
.v1_7 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_8 {
  width: 59px;
  height: 30px;
  background: url("../images/v1_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 158px;
  overflow: hidden;
}
.v1_9 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_10 {
  width: 248px;
  height: 18px;
  background: url("../images/v1_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 63px;
  overflow: hidden;
}
.v1_11 {
  width: 248px;
  color: rgba(69,145,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_12 {
  width: 339px;
  height: 502px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v1_13 {
  width: 69px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 135px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_16 {
  width: 17px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 89px;
  left: 161px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_17 {
  width: 35px;
  height: 18px;
  background: url("../images/v1_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 18px;
  overflow: hidden;
}
.v1_18 {
  width: 35px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_19 {
  width: 95px;
  height: 18px;
  background: url("../images/v1_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 18px;
  overflow: hidden;
}
.v1_20 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_21 {
  width: 88px;
  color: rgba(69,145,255,1);
  position: absolute;
  top: 317px;
  left: 18px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_22 {
  width: 302px;
  height: 30px;
  background: url("../images/v1_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 18px;
  overflow: hidden;
}
.v1_23 {
  width: 302px;
  color: url("../images/v1_23.png");
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_24 {
  width: 302px;
  height: 43px;
  background: rgba(244,244,244,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_25 {
  width: 302px;
  height: 43px;
  background: rgba(244,244,244,1);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_26 {
  width: 101px;
  height: 15px;
  background: url("../images/v1_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_28 {
  width: 78px;
  height: 15px;
  background: url("../images/v1_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 23px;
  overflow: hidden;
}
.v1_29 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_30 {
  width: 302px;
  height: 43px;
  background: rgba(69,145,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_31 {
  width: 45px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 128px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_32 {
  width: 68px;
  height: 11px;
  background: url("../images/v1_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_34 {
  width: 53px;
  height: 11px;
  background: url("../images/v1_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  overflow: hidden;
}
.v1_35 {
  width: 53px;
  height: 11px;
  background: url("../images/v1_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_36 {
  width: 53px;
  color: rgba(90,90,90,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v1_37 {
  width: 54px;
  height: 27px;
  background: url("../images/v1_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 142px;
  overflow: hidden;
}
.v1_1053 {
  width: 338px;
  height: 15px;
  background: url("../images/v1_1053.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 777px;
  left: 18px;
  overflow: hidden;
}
.v1_38 {
  width: 70px;
  color: rgba(69,145,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v1_39 {
  width: 70px;
  color: rgba(69,145,255,1);
  position: absolute;
  top: 0px;
  left: 85px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v1_40 {
  width: 83px;
  color: rgba(69,145,255,1);
  position: absolute;
  top: 0px;
  left: 170px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v1_41 {
  width: 70px;
  color: rgba(69,145,255,1);
  position: absolute;
  top: 0px;
  left: 268px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
